body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #2874f0;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header input[type="search"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    display: none;
}

.carousel-slide.active {
    display: block;
}
main {
    display: flex;
     flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    width: 200px;
  
}

.product img {
    width: 100%;
    height: auto;
}

.product h2 {
    font-size: 20px;
    margin: 10px 0;
}

.product .price {
    color: green;
    font-weight: bold;
}

button {
    background-color: #2874f0;
    color: white;
    border: none;
    margin-bottom: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2854c0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
